$layout_width_inner: 1000px;

$font-family: 'Noto Sans JP', sans-serif;
$font-family-mincho :   a-otf-ryumin-pr6n, serif;

$fontColor: #4c4f35;
$gnavFontColor: #5c6614;


$bgColor:#e0e4c6;
$lineColor: #e5db70;

